/* PC、スマホ共通スタイル */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,sans-serif;
  margin: 0 auto 0 auto;
}
p {
  font-size: 15px;
}
#main-visual>img {
  width: 100%;
}
#menu-sp {
  display: none;
}
#nav-sp {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
}
#nav-sp {
  font-size: 16px;
}
#nav-pc a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 20px 20px 0 20px;
}
#nav-pc a:hover {
  text-decoration: underline;
}



/*================
PC用のスタイル 
=================*/
@media screen and (max-width: 767px) {

body {
  min-width: 375px;
  margin: 0;
}
#nav-pc {
  display: none;
}
#menu-sp {
  display: block;
  float: right;
  padding: 0;
  border: none;
}
#nav-sp {
  background-color: #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
}
#nav-sp ul {
  padding-left: 0;
}
#nav-sp li {
  list-style: none;
}
#close {
  position: absolute;
  top: 20px;
  right: 20px;
}
#logo-sp {
  margin: 80px 0px 30px 20px;
}
#nav-sp a {
  display: block;
}
#nav-sp a:link {
  color: #ffffff;
}
#nav-sp a:visited {
  color: #ffffff;
}
#nav-sp a:hover {
  color: #ffffff;
  text-decoration: underline;
}
#nav-sp a:active {
  color: #ffffff;
}
#nav-sp .menu {
  text-decoration: none;
  margin: 0 20px 0 20px;
  height: 44px;
  font-size: 16px;
  background-image: url("img/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}

}